
h1 {
	font-size: 10vw;
	margin: 30px;
	color: #ffc107;
  text-align: center;
  font-weight: bolder;
}


.z-text {
	animation: wobble 12s ease-in-out infinite;
	transform: rotateX(30deg) rotateY(-30deg);
}

.z-layer:nth-child(1) {
	color: #ffc107;
}

.z-layer:nth-child(2) {
	color: #4caf50;
}

.z-layer:nth-child(3) {
	color: #3f51b5;
}

@keyframes wobble {
	0%,
	100% {
		transform: rotate3d(-1, 1, 0, 30deg);
	}
	25% {
		transform: rotate3d(1, 1, 0, 30deg);
	}
	50% {
		transform: rotate3d(1, -1, 0, 30deg);
	}
	75% {
		transform: rotate3d(-1, -1, 0, 30deg);
	}
}
